@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fot=no">
    <link rel="shortcut icon" href="~/Images/Logo/final_logo.ico" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style type="text/css">

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 8px solid #dddddd;
            text-align: center;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }


        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        #full-screen-background-image {
            z-index: -999;
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            left: 0;
        }

        body {
            background: url("/Images/Backgrounds/StudentsPage.jpg")no-repeat center center fixed;
            background-size: cover;
            height: 100%;
        }

        .menuLogo {
            font-size: 25px;
            color: black;
        }

        .menuBotones {
            font-size: 18px;
            color: black;
        }

            .menuBotones:hover {
                color: white;
            }

        footer {
            display: block;
            font-size: 15px;
            color: #777;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: center;
            padding: 10px;
        }


        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #0a38e7;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 15px;
            padding: 5px;
            width: 80px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>


</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#036d4f;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <p class="menuLogo"><img src="~/Images/Logo/final_logo.png" width="100" height="50">| Tutorias</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link menuBotones" href="@Url.Action("MainPage", "MainPage")">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menuBotones" href="@Url.Action("Students", "Students")">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menuBotones" href="@Url.Action("Contact", "MainPage")">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menuBotones" href="@Url.Action("Exit", "MainPage")">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <div class="container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year - Tutorias UTE</p>
        </footer>
    </div>
</body>
</html>
