
@model Tutorias.ViewModels.TutorViewModel

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<div class="card border-0 shadow my-5">
    <div class="card-body p-5">

        <div style="padding-left:16px">
            <h1 style="text-align:center;">@Session["UserGroup"].ToString()</h1>

        </div>


        <center>
            <img src="~/Images/CURP/@Model.PhotoPath" alt="Tutor" width="112" height="112" />
        </center>

        <hr>

        <table border="1" style="margin: 0 auto; width: 100%;">

            <colgroup>
                <col style="width: 20%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
            </colgroup>
            <tr>
                <th>Datos Generales del Tutor</th>

                <th>Datos de Contacto</th>
            </tr>
            <tr>

                <td>
                    @Html.LabelFor(t => Model.FirstMidName): @Html.DisplayFor(t => Model.FirstMidName)<br>
                    @Html.LabelFor(t => Model.LastNameP): @Html.DisplayFor(t => Model.LastNameP)<br>
                    @Html.LabelFor(t => Model.LastNameM): @Html.DisplayFor(t => Model.LastNameM)<br>
                    @Html.LabelFor(t => Model.EmployeeID): @Html.DisplayFor(t => Model.EmployeeID)<br>
                    @Html.LabelFor(t => Model.RFC): @Html.DisplayFor(t => Model.RFC)<br>
                    @Html.LabelFor(t => Model.CURP): @Html.DisplayFor(t => Model.CURP)<br>
                    @Html.LabelFor(t => Model.MaritalStatus): @Html.DisplayFor(t => Model.MaritalStatus)<br>

                    </td>
                <td>
                    @Html.LabelFor(t => Model.EmergencyPhone): @Html.DisplayFor(t => Model.EmergencyPhone)<br>
                    @Html.LabelFor(t => Model.PersonalPhone): @Html.DisplayFor(t => Model.PersonalPhone)<br>
                    @Html.LabelFor(t => Model.PersonalEmail): @Html.DisplayFor(t => Model.PersonalEmail)<br>
                    @Html.LabelFor(t => Model.AcademicEmail): @Html.DisplayFor(t => Model.AcademicEmail)
                </td>
                <tr>
                <td colspan="2">
                    <script src="~/Scripts/highcharts.js"></script>
                    <script src="~/Scripts/data.js"></script>
                    <script src="~/Scripts/drilldown.js"></script>
                    <div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                    <script type="text/javascript">
                            Highcharts.chart('container', {
                                chart: {
                                    type: 'pie'
                                },
                                title: {
                                    text: 'Estadisticas del grupo'
                                },
                                subtitle: {
                                    text: 'Seleccione alumnos vulnerables para ver las estadísticas'
                                },
                                lang: {
                                    drillUpText: '<<'
                                },
                                credits: {
                                    enabled: false
                                },
                                plotOptions: {
                                    series: {
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.name}'
                                        }
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> alumnos<br/>'
                                },

                                "series": [
                                    {
                                        "name": "General",
                                        "colorByPoint": true,
                                        "data": [
                                            {
                                                "name": "Vulnerables",
                                                "y": @ViewData["Vulnerables"],
                                                "color": " #f4f745 ",
                                                "drilldown": "Vulnerables"
                                            },
                                            {
                                                "name": "No Vulnerables",
                                                "y": @ViewData["NoVulnerables"],
                                                "color": " #45f7a9 ",
                                                "drilldown": null
                                            }
                                        ]
                                    }
                                ],
                                "drilldown": {
                                    drillUpButton: {
                                        relativeTo: 'spacingBox',
                                        Position: {
                                            y: 0,
                                            x: 0
                                        }
                                    },
                                    "series": [
                                        {
                                            "name": "Vulnerables",
                                            "id": "Vulnerables",
                                            "data": [
                                                {
                                                    "name": "Académica",
                                                    "color": "#1150f6",
                                                    "y": @ViewData["Académica"]
                                                }, 
                                                {
                                                    "name": "Económica",
                                                    "color": "#e60a1e",
                                                    "y": @ViewData["Económica"]
                                                }, 
                                                {
                                                    "name": "Psicológica",
                                                    "color": "#34f91c",
                                                    "y": @ViewData["Psicológica"]
                                                },
                                                {
                                                    "name": "Transporte",
                                                    "color": "#b14bf7",
                                                    "y": @ViewData["Transporte"]
                                                },
                                            ]
                                        }
                                    ]
                                }
                            });
                    </script>
                </td>
            </tr>
        </table>

    </div>
</div>



