@model Tutorias.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Tutorias Login DEMO</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <div align="center">
            <img src="~/Logo/LogoTutorias.JPG" alt="TUTORIAS" width="200" height="100">

            <div class="container">

                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin">

                    <div>
                        <div>@Html.LabelFor(a => a.UserName)</div>

                        <div>@Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })</div>

                        <!--No se debe mostrar al inicio-->
                        <div>
                            @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <div>
                        <div>
                            @Html.LabelFor(a => a.UserPassword)
                        </div>
                        <div>
                            @Html.PasswordFor(a => a.UserPassword, new { @class = "form-control" })
                        </div>
                        <!--No se debe mostrar al inicio-->
                        <div>
                            @Html.ValidationMessageFor(a => a.UserPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <br />


                    <div>
                        <div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="height:50px; width:200px;">Sign in</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </fieldset>
}


