@model Tutorias.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
}



@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <legend class="login" align="center">Sign In</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

            <div align="center">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        @*<h5 class="card-title text-center">Sign In</h5>*@
                        <div class="form-label-group">
                            @Html.LabelFor(a => a.UserName)

                            @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })

                            <!--No se debe mostrar al inicio-->
                            @Html.ValidationMessageFor(a => a.UserName, "", new { @class = "text-danger" })
                        </div>

                        <br />

                        <div class="form-label-group"> 
                            @Html.LabelFor(a => a.UserPassword)

                            @Html.PasswordFor(a => a.UserPassword, new { @class = "form-control" })

                            <!--No se debe mostrar al inicio-->
                            @Html.ValidationMessageFor(a => a.UserPassword, "", new { @class = "text-danger" })
                        </div>

                        <br />

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="height:50px; width:200px;">Sign in</button>

                        <hr class="my-4" />

                        <center>
                            <img src="~/Logo/LogoTutorias.JPG" alt="TUTORIAS" width="200" height="100">
                        </center>

                    </div>
                </div>
            </div>

    </fieldset>
}


